$gmail-icon-color: #9D2E20;
$github-icon-color: #666;
$facebook-icon-color: #4078c0;


.social-links{
  text-align: center;
  margin-bottom: 10px;
  i{
    border: 1px solid $primary-color;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px 10px 15px;
    color: $primary-color;
    padding: 5px;
    &.icon-phone{
      border: 0;
      margin: 5px 0;
    }
  }
  span{
    display: none;
  }
  .gmail{
    &:hover i{
      color: $gmail-icon-color;
      border-color: $gmail-icon-color;
    }
  }
  .github{
    &:hover i{
      color: $github-icon-color;
      border-color: $github-icon-color;
    }
  }
  .facebook{
    &:hover i{
      color: $facebook-icon-color;
      border-color: $facebook-icon-color;
    }
  }
}

