.social-links{
  text-align: center;
  margin-bottom: 10px;
  i{
    border: 1px solid $primary-color;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px 10px 15px;
    color: $primary-color;
    padding: 5px;
    &.icon-phone{
      border: 0;
      margin: 5px 0;
    }
  }
}
