$credits-section-background: $primary-color!default;

#credits-section{
  text-align: center;
  padding: 5px;
  background: $credits-section-background;
  @include get-text-color($credits-section-background);
}
.icon-heartbeat,
.icon-smile{
  color: #CE1D0C;
  font-size: 1.2em;
}

