$section-dark-background-color: lighten($primary-color, 40%);

body{
  background: $body-background-color;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background: darken($body-background-color, 10%);
  display: none;
}
.section-header{
  margin: 0 0 10px;
  font-size: 20px;
}
.heading-icon{
  margin-right: 10px;
}
.section{
  padding: $section-spacing-around;
  &.even, &:nth-child(2n){
    background: $section-dark-background-color;
    @include get-text-color($section-dark-background-color);
  }
}

.techniques-list{
  padding: 0;
  padding-left: 20px;
  li{
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
    .icon-ok{
      margin-left: -20px;
      margin-right: 10px;
    }
  }
}

.go-to-top{
  position: fixed;
  font-size: 35px;
  color: #111;
  right: 0;
  bottom: 0;
  background: #eee;
  display: none;
}
