$profile-background-color: $primary-color!default;
$profile-details-name-background-color: lighten($profile-background-color, 10%);
$profile-details-designation-background-color: lighten($profile-background-color, 20%);

#profile-details-section{
  background: $profile-background-color;
  @include get-text-color($profile-background-color);
  overflow:auto;
}
.profile-details-photo{
  background-image: url('../../images/prachee-clipped.png');
  background-repeat: no-repeat;
  height: 140px;
  margin: 0px auto $spacing-between-blocks;
  width: 130px;
  @media screen and (min-width: 700px){
    float: left;
    width: 30%;
    background-position: center center;
    margin-top: 10px;
  }
}
.profile-details-name{
  background-color: $profile-details-name-background-color;
  @include get-text-color($profile-details-name-background-color);
  font-size: 40px;
  margin: 0;
  padding: $spacing-between-blocks;
  text-align: center;
}
.profile-details-designation{
  background-color: $profile-details-designation-background-color;
  font-size: 32px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 700px){
  .profile-details-name,
  .profile-details-designation{
    margin-left: 30%;
    padding: 20px 15px;
  }
}
