$number-of-sections: 6;
$width-of-each-setting: percentage(1/$number-of-sections);

$background-height: 30px;

$profile-photo-background: $primary-color!default;

$settings-background: (
  "1": $profile-photo-background,
  "2": lighten($profile-photo-background, 10%),
  "3": lighten($profile-photo-background, 20%),
  "4": lighten($profile-photo-background, 30%),
  "5": lighten($profile-photo-background, 40%),
  "6": lighten($profile-photo-background, 50%)
)!default;

.settings{
  display: flex;
  flex-direction: row;
  justify-content: center;
  a{
    background-image: url("../../images/pattern.png");
    @include get-text-color(map-get($settings-background, "1"));
    min-height: $background-height+10px;
    text-decoration: none;
    width: $width-of-each-setting;
    text-align: center;
    line-height: $background-height+10px;
  }
}

.my-profile-photo{
  background-color: map-get($settings-background, "1");
  span{
    @include get-profile-photo();
    background: {
      position: center;
      size: auto $background-height;
      repeat: no-repeat;
    }
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 10px;
  }
}

.what-drives-me{
  background: map-get($settings-background, "2");
}

.think-design{
  background: map-get($settings-background, "3");
}

.excellence{
  background: map-get($settings-background, "4");
}

.worked-with-techniques{
  background: map-get($settings-background, "5");
}

.personal-profile{
  background: map-get($settings-background, "6");
}
