.techniques-list{
  padding: 0;
  padding-left: 20px;
  li{
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
    .icon-ok{
      margin-left: -20px;
      margin-right: 10px;
    }
  }
}
