$skill-container-background-color: lighten($primary-color, 20%)!default;
$skill-container-border-color: darken($skill-container-background-color, 20%)!default;
$skill-completed-background: $skill-container-border-color!default;
$skill-vertical-spacing: 15px!default;


.skill{
  margin-bottom: $skill-vertical-spacing;
  .skill-container{
    background: $skill-container-background-color;
    border: $skill-container-border-color solid 0;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 36px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 36px 8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 36px 8px rgba(0,0,0,0.75);
  }
  .skill-completed{
    background: $skill-completed-background;
    padding: 15px 0;
    float: left;
    width: 15%;
  }
  .skill-text{
    position: absolute;
    left: 5px;
    top: 5px;
    @include get-text-color($skill-completed-background);
  }
}
