// Colors
// Vanilla : #111;
// Bloodred : #671212;
// Oceanblue : #125A75;
$primary-color: #111;

$body-background-color: lighten($primary-color, 90%);

// Layout Spacing
$spacing-between-blocks: 10px;
$section-spacing-around: $spacing-between-blocks;
