#settings{
  display: none;
}
.social-links{
  span{
    display: block;
  }
  i{
    display: none;
  }
}
#go-to-top{
  display: none;
}
.skill .skill-container{
  box-shadow: inset 0 0 0 #ab7305;
  background: #ab7305;
}
