

// Global
// $body-background-color: #ff0600;
// $primary-color: #111;
// $secondary-color: #233863;
// $tertiary-color: #196D1B;
// $body-text-color: #eee;

// // Settings Section
// $settings-background: (
//   "1": #B92121,
//   "2": #C35151,
//   "3": #233863,
//   "4": #496192,
//   "5": #196D1B,
//   "6": #398E3B
// );

$primary-color: #f8af1e;
$secondary-color: #097380;

$skill-completed-background: $secondary-color;
