
.icon-heartbeat:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-smile:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cab:before { content: '\e804'; } /* '' */
.icon-brush:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-birthday:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-flag:before { content: '\e80b'; } /* '' */
.icon-up-circled:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-gmail:before { content: '\e80f'; } /* '' */
.icon-github:before { content: '\e810'; } /* '' */
.icon-right-dir:before { content: '\e811'; } /* '' */
.icon-stopwatch:before { content: '\e812'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */