
.icon-heartbeat:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-smile:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cab:before { content: '\e804'; } /* '' */
.icon-brush:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */