
.icon-heartbeat:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-smile:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */